In [273]:
import pandas as pd
import numpy as np

In [274]:
import matplotlib.pyplot as plot

In [275]:
df = pd.read_csv("train.csv")

In [276]:
x_df = df.drop(["Survived"], axis = "columns")
y_df = df["Survived"]

In [277]:
x_df = x_df.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis = "columns")

In [278]:
print(x_df.head(5))

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [279]:
x_df["Age"] = x_df["Age"].fillna(x_df["Age"].median())

In [280]:
x_df["Pclass"].isnull().any()

False

In [281]:
dum = pd.get_dummies(x_df["Pclass"], drop_first = True, prefix = "Pclass")

In [282]:
print(dum.head(5))

   Pclass_2  Pclass_3
0         0         1
1         0         0
2         0         1
3         0         0
4         0         1

In [283]:
x_df = pd.concat([x_df,dum], axis = "columns")
x_df = x_df.drop(["Pclass"], axis = "columns")

In [284]:
print(x_df.head(5))

      Sex   Age  SibSp  Parch     Fare Embarked  Pclass_2  Pclass_3
0    male  22.0      1      0   7.2500        S         0         1
1  female  38.0      1      0  71.2833        C         0         0
2  female  26.0      0      0   7.9250        S         0         1
3  female  35.0      1      0  53.1000        S         0         0
4    male  35.0      0      0   8.0500        S         0         1

In [285]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

g = pd.DataFrame(le.fit_transform(x_df["Sex"]), columns = ["Sex"])
x_df = x_df.drop(["Sex"], axis = "columns")
x_df = pd.concat([x_df, g], axis = "columns")
#Male -> 1 Female -> 0

e = pd.DataFrame(le.fit_transform(x_df["Embarked"]), columns = ["Embarked"])
x_df = x_df.drop(["Embarked"], axis = "columns")
x_df = pd.concat([x_df, e], axis = "columns")
#0->C 1->Q 2->S

In [286]:
x_df.head(6)

    Age  SibSp  Parch     Fare  Pclass_2  Pclass_3  Sex  Embarked
0  22.0      1      0   7.2500         0         1    1         2
1  38.0      1      0  71.2833         0         0    0         0
2  26.0      0      0   7.9250         0         1    0         2
3  35.0      1      0  53.1000         0         0    0         2
4  35.0      0      0   8.0500         0         1    1         2
5  28.0      0      0   8.4583         0         1    1         1

In [287]:
dum = pd.get_dummies(df["Embarked"], drop_first = True, prefix = "Embarked")
x_df = pd.concat([x_df, dum], axis = "columns")
x_df = x_df.drop("Embarked", axis = "columns")

print(x_df.head(5))

    Age  SibSp  Parch     Fare  Pclass_2  Pclass_3  Sex  Embarked_Q  \
0  22.0      1      0   7.2500         0         1    1           0
1  38.0      1      0  71.2833         0         0    0           0
2  26.0      0      0   7.9250         0         1    0           0
3  35.0      1      0  53.1000         0         0    0           0
4  35.0      0      0   8.0500         0         1    1           0

   Embarked_S
0           1
1           0
2           1
3           1
4           1

In [288]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
age = x_df.Age.values.reshape(-1,1)
fare = x_df.Fare.values.reshape(-1,1)
sib = x_df.SibSp.values.reshape(-1,1)
parch = x_df.Parch.values.reshape(-1,1)

ss_age = scaler.fit_transform(age)
ss_fare = scaler.fit_transform(fare)
ss_sib = scaler.fit_transform(sib)
ss_parch = scaler.fit_transform(parch)

ss_age = pd.DataFrame(ss_age, columns = ["Age_ss"])
ss_fare = pd.DataFrame(ss_fare, columns = ["Fare_ss"])
ss_sib = pd.DataFrame(ss_sib, columns = ["SibSp_ss"])
ss_parch = pd.DataFrame(ss_parch, columns = ["Parch_ss"])

x_df = pd.concat([x_df, ss_age], axis = "columns")
x_df = pd.concat([x_df, ss_fare], axis = "columns")
x_df = pd.concat([x_df, ss_sib], axis = "columns")
x_df = pd.concat([x_df, ss_parch], axis = "columns")

x_df = x_df.drop(["Age", "Fare", "SibSp", "Parch"], axis = "columns")
x_df.head(5)

,Pclass_2,Pclass_3,Sex,Embarked_Q,Embarked_S,Age_ss,Fare_ss,SibSp_ss,Parch_ss
0,0,1,1,0,1,0.271174,0.014151,0.125,0.0
1,0,0,0,0,0,0.472229,0.139136,0.125,0.0
2,0,1,0,0,1,0.321438,0.015469,0.000,0.0
3,0,0,0,0,1,0.434531,0.103644,0.125,0.0
4,0,1,1,0,1,0.434531,0.015713,0.000,0.0

In [289]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, test_size = 0.1)

In [290]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [291]:
LR = model.score(x_test, y_test)
print(LR)

0.8555555555555555

In [292]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [293]:
DTC = model.score(x_test,y_test)
print(DTC)

0.9222222222222223