In [35]:
import pandas as pd
import numpy as np

In [36]:
import matplotlib.pyplot as plot

In [37]:
df = pd.read_csv("train.csv")

In [38]:
x_df = df.drop(["Survived"], axis = "columns")
y_df = df["Survived"]

In [39]:
x_df = x_df.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis = "columns")

In [40]:
print(x_df.head(5))

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [41]:
x_df["Age"] = x_df["Age"].fillna(x_df["Age"].median())

In [42]:
x_df["Pclass"].isnull().any()

False

In [43]:
dum = pd.get_dummies(x_df["Pclass"], drop_first = True, prefix = "Pclass")

In [44]:
print(dum.head(5))

   Pclass_2  Pclass_3
0         0         1
1         0         0
2         0         1
3         0         0
4         0         1

In [45]:
x_df = pd.concat([x_df,dum], axis = "columns")
x_df = x_df.drop(["Pclass"], axis = "columns")

In [46]:
print(x_df.head(5))

      Sex   Age  SibSp  Parch     Fare Embarked  Pclass_2  Pclass_3
0    male  22.0      1      0   7.2500        S         0         1
1  female  38.0      1      0  71.2833        C         0         0
2  female  26.0      0      0   7.9250        S         0         1
3  female  35.0      1      0  53.1000        S         0         0
4    male  35.0      0      0   8.0500        S         0         1

In [47]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

g = pd.DataFrame(le.fit_transform(x_df["Sex"]), columns = ["Sex"])
x_df = x_df.drop(["Sex"], axis = "columns")
x_df = pd.concat([x_df, g], axis = "columns")
#Male -> 1 Female -> 0

e = pd.DataFrame(le.fit_transform(x_df["Embarked"]), columns = ["Embarked"])
x_df = x_df.drop(["Embarked"], axis = "columns")
x_df = pd.concat([x_df, e], axis = "columns")
#0->C 1->Q 2->S

In [48]:
x_df.head(6)

    Age  SibSp  Parch     Fare  Pclass_2  Pclass_3  Sex  Embarked
0  22.0      1      0   7.2500         0         1    1         2
1  38.0      1      0  71.2833         0         0    0         0
2  26.0      0      0   7.9250         0         1    0         2
3  35.0      1      0  53.1000         0         0    0         2
4  35.0      0      0   8.0500         0         1    1         2
5  28.0      0      0   8.4583         0         1    1         1

In [49]:
dum2 = pd.get_dummies(df["Embarked"], drop_first = True, prefix = "Embarked")
x_df = pd.concat([x_df, dum2], axis = "columns")
x_df = x_df.drop("Embarked", axis = "columns")

print(x_df.head(5))

    Age  SibSp  Parch     Fare  Pclass_2  Pclass_3  Sex  Embarked_Q  \
0  22.0      1      0   7.2500         0         1    1           0
1  38.0      1      0  71.2833         0         0    0           0
2  26.0      0      0   7.9250         0         1    0           0
3  35.0      1      0  53.1000         0         0    0           0
4  35.0      0      0   8.0500         0         1    1           0

   Embarked_S
0           1
1           0
2           1
3           1
4           1

In [50]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, test_size = 0.2)

In [51]:
y_train.describe

<bound method NDFrame.describe of 477    0
17     1
159    0
107    1
332    0
      ..
13     0
171    0
355    0
164    0
440    1
Name: Survived, Length: 712, dtype: int64>

In [53]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train, y_train)

C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [54]:
model.score(x_test, y_test)

0.8324022346368715