In [289]:
import pandas as pd
import numpy as np

In [290]:
import matplotlib.pyplot as plot

In [291]:
df = pd.read_csv("train.csv")

In [292]:
x_df = df.drop(["Survived"], axis = "columns")
y_df = df["Survived"]

In [293]:
x_df = x_df.drop(["PassengerId", "Name", "Ticket", "Cabin"], axis = "columns")

In [294]:
print(x_df.head(5))

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [295]:
x_df["Age"] = x_df["Age"].fillna(x_df["Age"].median())

In [296]:
x_df["Pclass"].isnull().any()

False

In [297]:
dum = pd.get_dummies(x_df["Pclass"], drop_first = True, prefix = "Pclass")

In [298]:
print(dum.head(5))

   Pclass_2  Pclass_3
0         0         1
1         0         0
2         0         1
3         0         0
4         0         1

In [299]:
x_df = pd.concat([x_df,dum], axis = "columns")
x_df = x_df.drop(["Pclass"], axis = "columns")

In [300]:
print(x_df.head(5))

      Sex   Age  SibSp  Parch     Fare Embarked  Pclass_2  Pclass_3
0    male  22.0      1      0   7.2500        S         0         1
1  female  38.0      1      0  71.2833        C         0         0
2  female  26.0      0      0   7.9250        S         0         1
3  female  35.0      1      0  53.1000        S         0         0
4    male  35.0      0      0   8.0500        S         0         1

In [301]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

g = pd.DataFrame(le.fit_transform(x_df["Sex"]), columns = ["Sex"])
x_df = x_df.drop(["Sex"], axis = "columns")
x_df = pd.concat([x_df, g], axis = "columns")
#Male -> 1 Female -> 0

e = pd.DataFrame(le.fit_transform(x_df["Embarked"]), columns = ["Embarked"])
x_df = x_df.drop(["Embarked"], axis = "columns")
x_df = pd.concat([x_df, e], axis = "columns")
#0->C 1->Q 2->S

In [302]:
x_df.head(6)

    Age  SibSp  Parch     Fare  Pclass_2  Pclass_3  Sex  Embarked
0  22.0      1      0   7.2500         0         1    1         2
1  38.0      1      0  71.2833         0         0    0         0
2  26.0      0      0   7.9250         0         1    0         2
3  35.0      1      0  53.1000         0         0    0         2
4  35.0      0      0   8.0500         0         1    1         2
5  28.0      0      0   8.4583         0         1    1         1

In [303]:
dum2 = pd.get_dummies(df["Embarked"], drop_first = True, prefix = "Embarked")
x_df = pd.concat([x_df, dum2], axis = "columns")
x_df = x_df.drop("Embarked", axis = "columns")

print(x_df.head(5))

    Age  SibSp  Parch     Fare  Pclass_2  Pclass_3  Sex  Embarked_Q  \
0  22.0      1      0   7.2500         0         1    1           0
1  38.0      1      0  71.2833         0         0    0           0
2  26.0      0      0   7.9250         0         1    0           0
3  35.0      1      0  53.1000         0         0    0           0
4  35.0      0      0   8.0500         0         1    1           0

   Embarked_S
0           1
1           0
2           1
3           1
4           1